<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true"
     data-kt-scroll-activate="true" data-kt-scroll-height="auto"
     data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
     data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
  <div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
    <ng-container *ngFor="let menu of menus">
      <div class="menu-item">
        <div class="menu-content pt-2 pb-2">
          <span class="menu-section text-muted text-uppercase fs-8 ls-1">{{menu.titulo}}</span>
        </div>
      </div>

      <ng-container *ngFor="let hijo of menu.hijos">
        <app-sidebar-item [hijo]="hijo"></app-sidebar-item>
      </ng-container>
    </ng-container>
  </div>
</div>
